<h1 class="mt-5 mb-4">Register</h1>
<form action="/forget-password" method="post">
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="text" class="form-control" id="email" name="email" placeholder="Enter your email" required>
  </div>
  <button type="submit" class="btn btn-primary">Send password link</button>
  <div>
    <p style="color:dodgerblue" href="/forget.password">Forget password</p>
  </div>

</form>